********************************************************************************<br/>
*****************  <b>[NSNCallCenter] LINK <%= "#{@link.versions.last.event}d".upcase %></b>  *************************<br/>
********************************************************************************<br/>
<br/>
Field Manager:<br/>
The link <b><%= @link.versions.last.reify.sites %></b> has been <%= "#{@link.versions.last.event}d" %>.<br/>
<br/>
Has been modified by: <u><%= @link.modified_by.person.nil? ? @link.modified_by.email : @link.modified_by.person.fullname %><br/></u>
<br/>
Updated at: <%= @link.updated_at%><br/>
<br/>
<b>CURRENT DATA:</b><br/>
<% ommited_attributes = ['configuration', 'id', 'modified_by_id', 'other', 'created_at', 'updated_at'] %>
<% (@link.attribute_names - ommited_attributes).each do |attr|%>
  <% if attr =~ /\_id$/%>
    <% model_name = attr.sub(/\_id$/,'')%>
    <% @link.send(model_name.to_s).nil? ? attribute_data = "nil" : attribute_data = @link.send(model_name.to_s).name %>
  <% else%>
    <% attribute_data = @link.send(attr.to_s)%>
  <% end%>
  <p><b><%= ActiveSupport::Inflector.humanize(attr).to_s + "  : #{attribute_data}" %></b></p>
<% end%>
<br/>
<br/>
<b>PREVIOUS DATA:</b><br/>
<% last_version = @link.versions.last.reify %>
<% (last_version.attribute_names - ommited_attributes).each do |attr|%>
  <% if attr =~ /\_id$/%>
    <% model_name = attr.sub(/\_id$/,'')%>
    <% last_version.send(model_name.to_s).nil? ? attribute_data = "nil" : attribute_data = last_version.send(model_name.to_s).name %>
  <% else%>
    <% attribute_data = last_version.send(attr.to_s)%>
  <% end%>
  <p><b><%= ActiveSupport::Inflector.humanize(attr) + ": #{attribute_data}" %></b></p>
<% end%>
<br/>
You can see all versions of this ticket on this  <%link_to 'link.', field_manager_ticket_path(:id => @ticket.id) %>
<br/>
<br/>
Nokia Siemens Networks.<br/>
<br/>
<br/>
--This message has been generated automatically, please do not reply.<br/>
<br/>
*****************************************************************************<br/>
