<hr>
<h2 style="text-align: center">[NSNCallCenter] CASE OPEN</h2>
<hr>
<br/>
Your report has been received.<br/>
<br/>
<b>Customer's Name:</b>                          <%= @ticket.reported_by.person.fullname %><br/>
<br/>  
<b>Customer's Company:</b>                       <%= @ticket.reported_by.person.company.name %><br/>
<br/>
<b>Customer's Phone:</b>                         <%= show_value(@ticket.reported_by.address, :business_phone) %> <br/>
<br/>
<b>Customer's Mobile Phone:</b>                  <%= show_value(@ticket.reported_by.address, :mobile_phone) %><br/>
<br/>
<b>Customer's e-mail:</b>                        <%= @ticket.reported_by.email %><br/>
<br/>   
<b>Customer's call handle time begins at:</b>    <%= @ticket.opened_at_local.to_s %><br/>
<br/>
<b>Customer's call handle time ends at:</b>      <%= @ticket.created_at_local.to_s %><br/>
<br/>
<% unless @ticket.alternate_contact.nil? %>
<b>Customer's Contact Name:</b>                  <%= @ticket.alternate_contact.person.fullname %><br/>
<br/>
<b>Customer's Contact e-mail:</b>                <%= @ticket.alternate_contact.email %><br/>
<br/>
<b>Customer's Contact Mobile Phone:</b>          <%= show_value(@ticket.alternate_contact.address, :business_phone) %><br/>
<br/>
<% end %>
<b>Case ID:</b>                                  <%= @ticket.case_id %><br/>
<br/>
<b>NSN Engineer on duty:</b>                     <%= !@ticket.assigned_to.nil? ? @ticket.assigned_to.person.fullname : @ticket.link.region.users.field_managers.collect {|fm| fm.person.fullname }.join(', ')%><br/>
<br/>
<b>NSN Engineer ID Number:</b>                   <%= !@ticket.assigned_to.nil? ? @ticket.assigned_to.id : @ticket.link.region.users.field_managers.collect {|fm| fm.id }.join(', ')%><br/>
<br/>
<b>NSN Engineer's call handle time begins at:</b><%= @ticket.opened_at.to_s + ' America/Mexico_City' %><br/>
<br/>
<b>NSN Engineer's call handle time ends at:</b>  <%= @ticket.created_at.to_s + ' America/Mexico_City' %><br/>
<br/>
<b>Call handle time:</b>                         <%= @ticket.capture_time %><br/>
<br/>
<b>Network Element:</b>                          <%= @ticket.product.name %><br/>
<br/>
<b>Link Region:</b>                              <%= @ticket.link.region.name %><br/>
<br/>
<b>Failure:</b>                                  <%= @ticket.failure.name %><br/>
<br/>
<b>Status:</b>                                   <%= @ticket.status.name %><br/>
<br/>
<b>Priority:</b>                                 <%= priority_label(@ticket.reported_priority.name)%> <br/>
<br/>
<b>Recommended Priority:</b>                     <%= priority_label(@ticket.priority.name)%> <br/>
<br/>
<b>Links:</b>                                    <%= @ticket.link.sites %><br/>
<br/>
<b>More affected:</b>                            <%= @ticket.affected_sites %><br/>
<br/>
<b>Frequency TX:</b>                             <%= show_value(@ticket.link, :frequency_tx) %><br/>
<br/>
<b>Frequency RX:</b>                             <%= show_value(@ticket.link, :frequency_rx) %><br/>
<br/>
<b>Configuration:</b>                             <%= show_value(@ticket.link, :configuration) %><br/>
<br/>
<b>Alarms:</b>                                   <%= show_value(@ticket, :alarm) %><br/>
<br/>
<b>Special Instructions:</b>                     <%= show_value(@ticket, :special_instructions) %><br/>
<br/>
<b>Additional notes:</b>                         <%= show_value(@ticket, :notes) %><br/>
<br/>
<br/>
<h3 style="margin-left: 50px;"><i>Nokia Siemens Networks.</i></h3><br/>
<br/>
<i style="margin-left: 50px;">--This message has been generated automatically, please do not reply.--</i><br/>
<br/>
<hr>
